<div class="accomodations">
	<h3 class="hotel">The Victoria Inn</h3>
	<p class="accomodation-desc">Located in Hampton, NH, about 40 minutes from the wedding venue and 20 minutes from Portsmouth. This is where we will be hosting the rehearsal dinner.</br><%= link_to "more info...", "http://www.thevictoriainn.com/" %></p>
</div>



<div class="accomodations">
	<h3 class="hotel">Comfort Inn and Suites</h3>
	<p class="accomodation-desc">Located in Dover, NH, about 10 minutes from the wedding venue and 15 minutes from Portsmouth.</br><%= link_to "more info...", "http://www.comfortinn.com/hotel-dover-new_hampshire-NH014" %></p>
</div>
