<ul id="st-stack" class="st-stack-raw">
	<li>
		<div class="st-item">
			<%= image_tag("studer.jpg", alt: "Ashley", class: "stack-image") %>
		</div>
		<div class="st-title">
			<h2>Ashley Studer</h2><h3>Maid of Honor</h3>
		</div>
	</li>
	<li>
		<div class="st-item">
			<%= image_tag("studer.jpg", alt: "Ashley", class: "stack-image") %>
		</div>
		<div class="st-title">
			<h2>Ashley Studer</h2><h3>Maid of Honor</h3>
		</div>
	</li>
	<li>
		<div class="st-item">
			<%= image_tag("studer.jpg", alt: "Ashley", class: "stack-image") %>
		</div>
		<div class="st-title">
			<h2>Ashley Studer</h2><h3>Maid of Honor</h3>
		</div>
	</li>
</ul>