<div class="wrapper">
	<h2 id="oaks"><%= link_to image_tag("oaks_logo.svg", alt: 'oaks logo', id: "oaks-logo"), "http://theoaksweddingsnh.com/" %></h2>
	<div class="column col-xs-12 col-sm-5 col-med-5">
		<h3 class="venue-head">Where</h3>
		<ul class="venue-list">
			<li>100 Hideaway Place</li>
			<li>Somersworth, NH 03878</li>
		</ul>
	</div>
	<div class="column col-xs-12 col-sm-5 col-sm-offset-2 col-med-5 col-med-offset-2">
		<h3 class="venue-head">When</h3>
		<ul class="venue-list">
			<li>July 19, 2014</li>
			<li>6:00 pm</li>
		</ul>
	</div>
</div>