<%= provide(:title, 'Bridal Party') %>

<ul class="col-xs-4 col-sm-2 col-md-2 nav nav-pills nav-stacked">
	<li class="active"><a href="#bridesmaids" data-toggle="tab">Bridesmaids</a></li>
	<li><a href="#groomsmen" data-toggle="tab">Groomsmen</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="bridesmaids">
		bridesmaids
	</div>

	<div class="tab-pane" id="groomsmen">
		groomsmen
	</div>
</div>