<div class="jumbotron">
	<h1>Soon to be Mrs. Raines</h1>
	<h2>Under Construction:</h2>
	<p class="center">Check back soon. We should have the site up and running before the end of September.</p>
</div>