<%= provide(:title, 'Wedding Info') %>

<ul class="nav nav-tabs nav-justified">
	<li class="active"><a href="#venue" data-toggle="tab">Venue</a></li>
	<li><a href="#accomodations" data-toggle="tab">Accomodations</a></li>
	<li><a href="#attractions" data-toggle="tab">Attractions</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="venue">
		venue
	</div>

	<div class="tab-pane" id="accomodations">
		accomodations
	</div>

	<div class="tab-pane" id="attractions">
		attractions
	</div>
</div>