<% provide(:title, 'Friends and Family') %>
<h1>Friends and Family</h1>

<ul class="users">
	<% @users.each do |user| %>
		<li>
			<%= content_tag('span', "#{user.name}", class: 'user-name') %><br />
			<%= content_tag('span', "#{user.relation}", class: 'user-relation') %>
		</li>
	<% end %>
</ul>