<% provide(:title, 'Friends and Family') %>
<%= provide(:current_page, 'guests') %>

<div class="blank-screen"></div>
<div class="white-screen">
	<h1 class="story"><span class="cursive">the</span> GUESTLIST <span class="scroll-tip">scroll</scroll></h1>
	<div class="container content">
		<div class="page">
			<h1>Friends and Family</h1>

			<%= will_paginate %>

			<ul class="users">
				<%= render @users %>
			</ul>

			<%= will_paginate %>
		</div>
	</div>
</div>