<% provide(:title, 'Sign Up') %>
<% provide(:current_page, 'info') %>

<div class="clear-screen">
	<div class="container content">
		<div class="page">
			<h1>Sign up</h1>
			<div class="form">
				<div class="span6 offset3">
					<%= form_for(@user) do |f| %>
						<%= render 'fields', f: f %>
						<%= f.submit "Create my account", class: "btn btn-main" %>
						<span>or</span>
						<%= link_to "Sign in", signin_path %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>