<footer>
	<span id="main-footer">
		Created by <%= link_to "Brent", "mailto:brent@brentraines.com" %>. Inspired by Nicole
		<%= image_tag('smiley.png', alt: 'smiley', id: "smiley") %>
	</span>
</footer>